@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: black;
}